/android/*.iml
/android/.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/android/build
/build
/captures
/android/.externalNativeBuild
/android/.cxx
/android/local.properties
/android/.idea/